.left-panel {
    width: 45%;
    overflow-y: auto; /* Enables vertical scrolling if content overflows */
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 1.5rem;
    margin: 1rem 0 1rem 1.5rem;
  }